# Ignore all .png files
*.png

# Ignore all weight files
*.weights.*
*checkpoints/
# Do not push python cache files, or any local config or environment files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.eggs/
*.env
*.venv/
*.env.*
*.venv.*
*.local
*.DS_Store
*.vscode/





